.collection-preview {
	margin-top: 1rem;
}

.title-collection {
	cursor: pointer;
	transition: 0.2s;
	font-size: 2rem;
	margin-left: 4px;
	font-weight: 500;
	&:hover {
		color: rgb(104, 99, 99);
	}
}

.preview {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	margin-top: .7rem;

}