.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.options {
	display: flex;
	& .option {
		text-decoration: none;
		color: black;
		margin-left: 1.5rem;
		cursor: pointer;
	}
}
