.cart-icon {
  width: 25px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 1.5rem;

  .shopping-icon {
    width: 24px;
    height: 24px;
  }

  .cart-itemCount-wrapper {
    background-color: rgb(245, 31, 31);
    color: white;
    padding: 1px 5px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    left: 13px;
    bottom: 6px;
    border-radius: 50%;
  }
}
